@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.hero-2 {
  animation: appear 1.5s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
.hero-2-image {
  animation: appear 1.5s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}

/* service quality */
.service-quality {
  animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes service-quality {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

/* mobile Screen  */
@media screen and (max-width: 458px) { 
   header{
                overflow: auto;
        }
  .top-header {
    display: block;
    padding: 20px 10px;
    text-align: center;
  }
  .top-icons {
    margin-top: 15px;
  }
  .Nav {
     align-items: baseline;
     width: 100%;
     gap: 70%;
  }
  .Nav ul {
    visibility: hidden;
    background-color: aquamarine;
  }
  .Nav button {
    visibility: hidden;
  }
  .mobile-icon {
    visibility: visible;
    color: black;
  }

  /* hero section */
  .Hero{
        width: 100%;
        height: 65vh;
  }

  .hero2{
    /* background-color: aqua; */
     padding: 70px 0px;
     text-align: center;
  }
  .hero2 p{
    font-size: 40px;
  } 
  .hero2 h2{
    text-align: center;
    margin: 28px 79px;
  }
  .hero2 button{
    margin: 0px 0px;
  }

  /* hero 2 section */
  .hero-section2{
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
  }
  .hero-2{
    width: 93%;
    margin: 0px 14px;
    box-shadow: none;
  }
  .hero-2-mission{
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 70px;
    box-shadow: 1px 1px 25px; 

  }
  .hero-2-vision{
    padding: 25px 15px;
     box-shadow: 1px 1px 25px; 
  }
  .hero-2-image{
    width: 100%;
    padding: 0px 12px;
  }
  .hero-2-image img{
    width: 134%;
  }
  /* service section  */
  .service-section{
    padding-left: 0px;
  }
  .service-section h1{
    padding-left: 30px;
  }

  .service-cat{
    flex-direction: column;
    width: 100%;
    margin: 0px 14px;
  }
  .service-quality{
    width: 92%;
  }
  .service-quality p{
    margin-left:-50px;
    font-size: 40px;
    text-align: center;
    width: 300px;
  }
  
  .service-marketing{
    width: 90%;
    margin: 50px 10px;
  }
  .web-development{
    align-items: center;
    flex-direction: column;
    row-gap: 80px;
    margin: 0px 15px;
  }
  .web-development .web{
    width: 100%;
    background-color: antiquewhite;
  }

  /* why choose us section */
  .choose-us{
    flex-direction: column;
    padding: 0%;
  }
.choose-us-card{
  width: 100%;
  margin: 0px 16px;
}
.choose-us .choose-us-card h1{
  font-size: 40px;
  margin-top: 20px;
} 
.choose-us img{
  width: 390px;
  margin-top: -80px;
}

/* project section */
.project-section{
  padding: 0px 0px;
  overflow: hidden;
}
.project{
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px -15px;
}
.project .project-card1 img{
  width: 108%;
}
/* footer */
.footer-cards{
  display: grid;
}
}