@keyframes appear {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);

    }
}
.hero-2{
    animation: appear  1.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0;

}
.hero-2-image{
    animation: appear  1.5s ease-in-out;
    animation-timeline: view();
    animation-range:  entry 0;
}

/* service quality */
.service-quality{
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes service-quality {
    0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
    
}
